# To execute the code in our notebook
matplotlib
numpy
pandas
scikit-learn
plotly.express
scipy
seaborn
tabulate
# To run the notebook
jupyter
# To run the notebook with JupyterLab
jupyterlab

# To interactively browser Jupyter content with MyST
jupyterlab_myst
